@media only screen and (max-width: 925px) {
	.Dashboard__mainArea {
		width: 100% !important;
	}
	.Dashboard__previewPosts {
		padding: 0;
	}
}
.Dashboard {
	min-width: 470px;
}
.Dashboard__hero,
.Dashboard__previewPosts {
	background-color: var(--mantine-color-dark-6);
	border-radius: 10px;
	padding: 20px;
}
.Dashboard__hero--button {
	padding: 50px;
}
.Dashboard__mainArea {
	padding: 40px;
	width: 80%;
}
.Dashboard__profile--avatarImg {
	box-sizing: border-box;
}
.Dashboard__profile--avatarButton {
	align-items: center;
	height: fit-content;
	margin-bottom: 40px;
	margin-top: 15px;
	width: fit-content;
}
.Dashboard__profile--avatarButton > * {
	height: fit-content;
	width: fit-content;
}
.Dashboard__title {
	font-family: 'Varela Round', sans-serif;
	font-weight: 400;
	letter-spacing: 1px;
}
