.Dashboard__mainArea {
	padding: 35px;
}
.Dashboard__hero {
	padding: 20px;
	border-radius: 10px;
	background-color: var(--mantine-color-dark-8);
}
.Dashboard__hero--button {
	padding: 50px;
}
.Dashboard__profile--avatar {
	width: fit-content;
	height: fit-content;
	align-items: center;
	margin-bottom: 40px;
	margin-top: 15px;
}
.Dashboard__profile--avatar > * {
	width: fit-content;
	height: fit-content;
}
.Dashboard__wrapper {
	align-items: flex-start;
}
